
.container:nth-child(2) {
    margin-top: 200px;
    margin-bottom: 30px;
}
input {
    height: 30px;
    margin: 5px auto;
    border-radius: 5px;
    box-shadow: 0px 5px 5px #33333340;
    border: none;
    opacity: 0.8;
}

button {
    background: white;
    margin: 0 auto;
    height: 30px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 5px 5px #33333340;
    display: block;
    transition: all 0.4s;
}

button:hover{
    transform: scale(1.1);
    background-color: #33333340;
    color: white;
}

#MatchMessage {
    font-size: 12px;
}


